<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Library</title>
</head>
<body>
    <h1>Game Library</h1>
    <a href="{% url 'game_create' %}">Add New Game</a>
    <ul>
        {% for game in games %}
        <li>
            {{ game.title }} ({{ game.genre }}) - {{ game.release_date }}
            <a href="{% url 'game_update' game.pk %}">Edit</a>
            <a href="{% url 'game_delete' game.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>